body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass Error: Invalid CSS after \"@charset \"utf-8\"\": expected \"{\", was \";\" \A         on line 4 of \\Users\\christopherbaum\\Desktop\\Eye4Games\\rise\\reports\\css\\main.scss \A '; } 
                            
                            body * { 
                            display: none; 
                            } 