---
---

//PALETTES
$mainRed: #ec1c24;
$closeBlack: #1a1a1a;
$mainYellow: #fbf5b1;

$codeStack: "Source Code Pro", Menlo, monospace;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset",
        "base",
        "layout"
;
