*, *+*{
	box-sizing: border-box;
	}
body{
	background: $mainRed;
	@include flexbox();
	@include flexDirection(column);
	font-size: 62.5%;
	font: 400 normal 62.5%/1.7em $codeStack;
	min-height: 100vh;
	}
.mainContent{
	@include flex(1);
	@include flexbox();
	@include flexDirection(column);
	}
	
//CONTAINERS	
%container{
	@include flexbox();
	@include flexWrap(nowrap);
	-webkit-justify-content: space-between; justify-content: space-between;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 30px;
	position: relative;
	}
%clearfix {
    &::after {
	    content: "";
	    display: block;
	    clear: both;
		}
	}
	
.small{display: none;}

//SIZING
.threeSeventh{
	@include flex(0 43.5%);
	overflow: hidden;
	}
.fourSeventh{
	@include flex(0 56.5%);
	}
*[class$="Seventh"]:last-child{padding-left: 30px;}
	
//TYPOGRAPHY	
h1{
    color: white;
	font: 200 normal 7em/1 "Oswald";
	text-transform: uppercase;
	}
h2{
	font: 400 normal 3em/1 "Oswald";
	text-transform: uppercase;
	color: white;
	}
h3{
	font: 400 2em/1 "Source Code Pro";
	color: $mainRed;
	}
.highlightBlack{color: $mainBlack;}
.highlightRed{color: $mainRed;}

p b{font-weight: 700;}

p em{
    font-weight: 300;
    font-style: italic;
    font-family: "Source Sans Pro";
    letter-spacing: 1px;
    }