*, *+*{
	box-sizing: border-box;
	}
body{
	display: -webkit-flex; display: -ms-flexbox; display: flex;
	background: $mainRed;
	font-size: 62.5%;
	font: 400 normal 62.5%/1.7em $codeStack;
	min-height: 100vh;
	-webkit-flex-direction: column; flex-direction: column;
	}
.mainContent{
	-webkit-flex: 1;-ms-flex: 1; flex: 1;
	}
	
//CONTAINERS	
%container{
	display: -webkit-flex; display: -ms-flexbox; display: flex;
	-webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap;
	-webkit-justify-content: space-between; justify-content: space-between;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 30px;
	position: relative;
	}
%clearfix {
    &::after {
	    content: "";
	    display: block;
	    clear: both;
		}
	}
//SIZING
.threeSeventh{
	-webkit-flex: 0 43.5%; -ms-flex: 0 43.5%; flex: 0 43.5%;
	overflow: hidden;
	}
.fourSeventh{
	-webkit-flex: 0 56.5%;-ms-flex: 0 56.5%; flex: 0 56.5%;
	}
*[class$="Seventh"]:last-child{padding-left: 30px;}
	
//TYPOGRAPHY	
h1{
	font: 200 normal 7em/1 "Oswald";
	text-transform: uppercase;
	}
h2{
	font: 400 normal 3em/1 "Oswald";
	text-transform: uppercase;
	color: white;
	}
h3{
	font: 400 2em/1 "Source Code Pro";
	color: $mainRed;
	}
.highlightBlack{color: $mainBlack;}
.highlightRed{color: $mainRed;}