//
//******************************************************************************HEADER
.receiveCode{
	@extend %container;
	-webkit-align-items: center; align-items: center;
	padding: 0;
	}
.receiveCode .homeLink{
	background: $mainBlack;
	color: white;
	display: inline-block;
	height: 60px;
	padding: 10px;
	position: relative;
	&::before, &::after{
		position: absolute;
		content: "";
		border: 30px solid $mainBlack;
		height: 0;
		width: 0;
		top: 0;
		}
	&::before{
		left: -60px;
		border-color:  transparent $closeBlack $closeBlack transparent;
		}
	&::after{
		border-color: $mainBlack transparent transparent $mainBlack;
		right: -60px;
		}
	}

//
//***************************************************************************NAVIGATION
.topNav{
	margin-right: 15px;
    a{
        color: $closeBlack;
        font-size: 1.6em;
        margin-left: 20px;
        text-decoration: none;
        &:hover, &.active{color: white;}
        }
    }
.nav-collapse .navLinks{
	@include flexbox();
	}
 #menu-icon{
	 display: none;
	 position: relative;
	 z-index: 2;
	 svg{fill: white;}
	 &.active svg{fill:$mainBlack;}
	 }

//SECTIONS
//
//*********************************************************************************ABOUT
.aboutWrap{
	background: linear-gradient(to bottom, lighten($mainBlack,80%),lighten($mainBlack,70%));
	border-top: 5px solid rgba(white,.2);
	padding: 0 15px;
	}
.aboutRise{
	@extend %container;
	display: block;
	padding: 15px 0 20px;
	text-align: center;
	h2{
		color: $mainRed;
		margin-bottom: 15px;
		}
	p{
		font: 200 normal 2em/1.5em "Titillium";
		font-size: 2em;
		font-weight: 200;
		line-height: 1.5em;
		margin-bottom: 15px;
		&:last-child{margin: 0;}
		}
	}

//******************************************************************************RISE CALL
.riseWrap{
	background: url("../images/robo-sign.png") top right no-repeat, linear-gradient(to bottom, $closeBlack, $mainBlack);
	background-size: contain;
	border-top: 5px solid rgba(white,.2);
	padding: 0 15px;
	}
.riseUp{
	@extend %container;
	padding: 15px 0 20px;
	.postHeader &, .pageHeader &{display: block;}
	aside{
		color: white;
		}
	.formWrap{-webkit-align-self: center; align-self: center;}
	}
.riseUp .highlightRed{
	-webkit-animation: 3s blinkNow ease infinite;
	animation: 3s blinkNow ease infinite;
	}
@keyframes blinkNow{
	0% 	{color: $mainRed;}
	50% 	{color: $mainBlack;}
	100% {color: $mainRed;}
	}
@-webkit-keyframes blinkNow{
	0% 	{color: $mainRed;}
	50% 	{color: $mainBlack;}
	100% {color: $mainRed;}
	}
	
//EMAIL FORM
.riseForm{
	label{
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0px;
		overflow: hidden;
		clip: rect(0px, 0px, 0px, 0px);
		border: 0px none;
		}
	input{
		@include flex(1 100%);
		background: none;
		border: 1px solid rgba($mainYellow,.7);
		border-radius: 2px;
		color: white;
		font: 400 1.2em/1.2em $codeStack;
		height: 50px;
		padding: 0 10px;
		text-align: left;
		&:focus{
			background:url(../images/dots.png) repeat;
			outline: none;
			}
		}
	.buttonWrap{
		font-weight: 200;
		font-size: 1.4em;
		padding-right: 50px;
		position: relative;
		&::after{
			content: "";
			border: 25px solid $mainBlack;
			border-color:darken($mainRed,10%) transparent transparent darken($mainRed,10%);
			position: absolute;
			top:0;
			right: 0;
			}
		&:hover::after{border-color: saturate($mainRed,15%) transparent transparent saturate($mainRed,15%);}	
		}
	.button{
		-webkit-appearance: none;
		background: $mainRed;
		border:none;
		border-radius: 2px 0 0 2px;
		cursor: pointer;
		margin-bottom: 0;
		width: 100%;
		&:focus{background: darken($mainRed,10%);}
		&:hover{background: saturate($mainRed,10%); text-shadow: 0 1px 2px $mainBlack;}
		}
	.buttonWrap:hover .button, .button:hover{
		background: linear-gradient(45deg, darken($mainRed,10%), saturate($mainRed,10%));
		text-shadow: 0 1px 2px $mainBlack;
		}
	}
.mc-field-group{
	@include flexbox();
	@include flexWrap(nowrap);
	margin-bottom: 15px;
	}
.halvesGroup input{
	margin-right: 15px;
	& + label + input{ margin-right: 0;}
	}
	
//
//*****************************************************************************REPORTS
.reportWrap{
	background: url("../images/red-gears.png") center top no-repeat;
	background-size: 1132px;
	border-top: 5px solid rgba(white,.1);
	@include flex(1);
	padding: 40px 0 30px;
	h2{
		text-align: center;
		text-shadow: 0 1px 3px darken($mainRed,30%);
		margin-bottom: 30px;
		}
    .updateSchedule{
        color: white;
        margin-top: -10px;
        margin-bottom: 10px;
        text-align: center;
        }
	}
.reportsIncoming{
	@extend %container;
	max-width: 710px;
	text-align: center;
	h3{
    	font: 400 2em/1 "Oswald";
    	margin-left: 15px;
    	text-transform: uppercase;
    	a{
        	color: $mainRed;
        	text-decoration: none;
        	&:hover{color: white;}
        	}
	    }
	li{
		background: linear-gradient(45deg, rgba(black,.6),rgba($closeBlack,.8));
		border-bottom: 5px solid $mainBlack;
		color: white;
		margin-bottom: 30px;
		padding: 0 0 15px;
		text-align: left;
		}
	.timeWrap{
		background: linear-gradient(to right, rgba(white,.2), rgba($mainYellow,.2));
		overflow: hidden;
		margin-bottom: 15px;
		cite{
			font-size: 1.5em;
			font-weight: 600;
			margin-left: 15px;
			}
		}
	time{
		background: $mainBlack;
		color: gray;
		font: 700 normal 1.6em/1.7em $codeStack;
		padding: 10px 15px;
		}
	p{
    	font: 200 normal 1.4em/1.7em $codeStack;
		margin: 10px 15px;
		&:last-child{margin-bottom: 0;}
		}
    p em{
        font-weight: 300;
        font-style: italic;
        font-family: "Source Sans Pro";
        letter-spacing: 1px;
        }
	.readLink{
		background: $mainRed;
		color: white;
		font-size: 1.4em;
		margin-left: 15px;
		padding: 3px 8px;
		text-decoration: none;
		&:hover, {
			background: $mainBlack;
			}
		}
	}
.post-meta{
    position: relative;
    z-index: 2;
    }
.allPosts{
	background: white;
	border-radius: 2px;
	color: $mainRed;
	display: inline-block;
	font-size: 1.7em;
	padding: 10px;
	text-decoration: none;
	&:hover{
		background: $mainBlack;
		}
	}
//
//***************************************************************************AUTHORS
.authorSpace{
    background: linear-gradient(45deg,rgba( lighten($mainBlack,80%),.6),rgba(lighten($mainBlack,70%),.8));
	border-bottom: 5px solid lighten($mainBlack,80%);
	color: $mainBlack;
	margin-bottom: 30px;
	padding: 10px 15px;
	text-align: left;
	p{
    	font: 200 normal 1.7em/1.9em "Titillium";
    	b{color: $mainRed; font-weight: 700;}
	    }
    }

//
//******************************************************************************POSTS
.articleWrap{padding: 0 15px;}
.reportContent{
	max-width: 1000px;
	margin: 40px auto 0;
	p{
		color: white;
		font: 200 normal 1.6em/1.7em $codeStack;
		margin-bottom: 20px;
		max-width: 710px;
		}
	}
	
//
//******************************************************************************TEAM	
.teamWrap{
	background: linear-gradient(45deg, rgba($mainBlack,.5),rgba($closeBlack,.7));
	& > h2{
		margin: 20px 0 30px;
		text-align: center;
		text-shadow: 0 1px 3px darken($mainBlack,30%);
		}
	}
.crewProfile{
	@extend %container;
	max-width: 800px;
	margin-bottom: 30px;
	img{
		height: 150px;
		width: 150px;
		border-radius: 5px;
		box-shadow: 0 1px 6px rgba($mainRed,.8), 0 4px 4px $mainBlack;
		}
	}
.crewProfileText{
	@include flex(1);
	color: white;
	padding-left: 20px;
	-webkit-align-self: center;align-self: center;
	h2{font-weight: 200;}
	p{
		font-size: 1.5em;
		line-height: 1.7em;
		margin-top: 10px;
		}
	}
.imageContainer{
	position: relative;
	}
i.static{
		background: url(../images/static.gif);
		display: block;
		height: 150px; width: 150px;
		top:0;
		mix-blend-mode:soft-light;
		position: absolute;
		opacity: .3;
		}

//
//******************************************************************************FOOTER	
.footerWrap{
	background: linear-gradient(45deg, $mainBlack,$closeBlack);
	}	
.mainFooter{
	@extend %container;
	}
	
.mainFooter{
	padding: 30px 20px 20px;
	text-align: right;
	.Eye4Logo{
		margin-top: -30px;
		margin-right: -100px;
		}
	.textContainer{
		@include flexbox();
		@include flexWrap(nowrap);
		-webkit-align-items: center; align-items: center;
		margin-top: -30px;
		padding-left: 100px;
		width: 100%;
		}
	.copyright{
		@include flex(1);
		color: white;
		font: 200 normal 2em/1 "Oswald",Helvetica, Arial, sans-serif;
		margin-left: 20px;
		text-align: left;
		text-transform: uppercase;
		}
	.footerNav{
		@include flex(2);
		a{
			color: gray;
			font-size: 1.8em;
			margin-left: 30px;
			text-decoration: none;
			&:hover{color: $mainRed;}
			}
		}
	}