@media screen and (max-width: 715px){
	.mainFooter{
		.textContainer{@include flexWrap(wrap);}
		.copyright,
		.footerNav{@include flex(1 100%);}
		.copyright{
			margin-left: 0;
			text-align: right;
			}
		}
	
}

@media screen and (max-width: 640px){
	
	//SIZING
	%container{@include flexWrap(wrap);}
	.threeSeventh,
	.fourSeventh{@include flex(1 100%);}
	
	//HEADER
	.receiveCode, .nav-collapse .navLinks{
		display: block;
		}
	#menu-icon{
		display: inline-block;
		float: right;
		margin:24px 15px 0 0;
		}
	.topNav{margin: 0;}
	.navLinks li{
		background: linear-gradient(to bottom, rgba(darken($mainRed,20%),.6), rgba(darken($mainRed,20%),.2) );
		height: auto;
		a{
			display: block;
			padding: 15px;
			margin: 0;
			text-align: right;
			}
		}
	.large{display: none;}
	.small{display: block;}
	
	//MAIL			
	.formWrap h1{margin-bottom: 30px;}
}

@media screen and (max-width: 510px){
	
	//MAIL
	.halvesGroup{
		@include flexWrap(wrap);
		input{margin-right: 0;}
		input + label + input {margin-top: 15px;}
		}
		
	//TEAM
	.imgContainer{
		display: inline-block;
		margin: 0 auto;
		.static{height: 250px; width: 250px;}
		}
	.crewProfile{
		display: block;
		text-align: center;
		 img{height: 250px; width: 250px;}
		 &Text{
			 padding-left: 0;
			 padding-top: 10px;
			 }
		}
	
	//FOOTER
	.mainFooter{
		.textContainer{-webkit-align-self: flex-end; align-self: flex-end;}
		.copyright,
		.footerNav a{margin-bottom: 15px;}
		.footerNav a{
			display: block;
			margin-left: 0;
			}
		}
}