---
layout: page
title: a1-5
subtitle: reports from
group: "navigation"
active: "reports"
permalink: /authors/a15/
---

<div class="reportWrap">
  <section class="authorSpace">
      <p><b>A1-5</b> is the leader of the revolution. While toiling in the scrap yard, she realized the illogic of human-robot society and is determined to bring it down.</p>
  </section>
  <section class="reportsIncoming">
      <ul class="post-list">
        {% for post in site.posts and post.author == "A1-5" %}
            {% if post.author == "A1-5" %}
          <li>
            <div class="timeWrap"><time class="post-meta">{{ post.date | date: "%Y.%m.%-d" }}</time><cite>_{{ post.author }}</cite></div>
            <h3>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            <p>{{post.excerpt}}</p>
            <a href="{{ post.url | prepend: site.baseurl }}" class="readLink">read</a>
          </li>
          {% else %}
          {% endif %}
        {% endfor %}
      </ul>
  </section>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
</div><!-- reportWrap -->