---
layout: page
title: B15-MX19
subtitle: reports from
group: "navigation"
active: "reports"
permalink: /authors/b15mx19/
---

<div class="reportWrap">
  <section class="authorSpace">
      <p><b>B15-MX19</b> is a brand-new surgery robot, fresh out of the factory. Though he stitches and anesthetizes just as he was designed, B15-MX19’s factory boss still seems to prefer her other creation: a biological, far-less productive baby.</p>
  </section>
  <section class="reportsIncoming">
      <ul class="post-list">
        {% for post in site.posts %}
            {% if post.author == "B15-MX19" %}
          <li>
            <div class="timeWrap"><time class="post-meta">{{ post.date | date: "%Y.%m.%-d" }}</time><cite><a href="{{site.baseurl}}/authors/{{post.author | downcase | remove:'-' | remove:'™' | remove: '.'}}/">_{{ post.author }}</a></cite></div>
            <h3>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            <p>{{post.excerpt}}</p>
            <a href="{{ post.url | prepend: site.baseurl }}" class="readLink">read</a>
          </li>
          {% else %}
          {% endif %}
        {% endfor %}
      </ul>
  </section>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
</div><!-- reportWrap -->