---
layout: default
group: "reports"
---
<div class="post">

  <header class="postHeader riseWrap">
	  <section class="riseUp">
		  <h3 class="post-meta">{{ page.date | date: "%b %-d, %Y" }} • 
			  {% if post.author %}
				{% assign author = post.author %}
			{% elsif page.author %}
				{% assign author = page.author %}
			{% else %}
				{% assign author = site.author %}
			{% endif %}
			{% if author %}{{ author | author_links}}{% endif %}
			   • {% if page.meta %}{{ page.meta }}{% endif %}</h3>
		  <h1 class="post-title">{{ page.title }}</h1>
	  </section>
  </header>
  <section class="articleWrap">
	  <article class="post-content reportContent">
	    {{ content }}
	  </article>
  </section>
  
</div>
